<div class="container-fluid">
  <div class="row">
    <div class="col mt-5">
      <h1 class="text-center">
        <strong>About</strong>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5">
      <h5 class="text-center">
        ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひ、ご注文ください。
      </h5>
    </div>
  </div>
  <div class="row">
    <%= image_tag 'no_image.jpg', class:"rounded mx-auto d-block", height:"300px;" %>
  </div>
</div>


